/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*~
.tmp
docker-compose.override.yml
storage/logs/*
.env.local
storage/framework/cache/data/
